<div class="callout callout--primary">
    <div class="grid grid--cols-2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get strated</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aliquam voluptate aliquid provident eaque non dolores ipsum est blanditiis eveniet reiciendis nihil voluptates nostrum, fuga error optio ducimus inventore delectus!
            </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
</div>