<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--cols-2">
        <header class="div block__header hero__content">
            <h1 class="block__heading">Cloud Hosting</h1>
            <p style="padding: 2rem;" class="hero__tagline">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, itaque.</p>
            <a href="" class="btn btn--accent btn--stretched"> Get Started</a>
        </header>
        <picture>
            <source type="image/webp" srcset="images/2x_house.webp 1x, images/2x_house.webp 2x" />
            <img class="hero__image" src="images/House-2.png" alt="">
        </picture>
    </div>
</section>